@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Sriracha&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  */
/*  */
/*  */
/*  */
/*  */
html{
	font-size: 62.5%;
}
body{
	font-size: 1.6rem;
	font-family: 'Sriracha', cursive
}
h1{
	font-size: 4rem;
	font-family: 'Caveat', cursive;
	margin-left: 15px;
	color: white;
	width: 20vw;
	background: rgb(55,55,55);
}
.container{
    display: flex;
}
header{
	width: 100vw;
	height: 15vh;
	display: flex;
	flex-direction:column;
	justify-content: space-evenly;
	background:#121212 ;
}
header nav{
	width: 45vw;
	display: flex;
	justify-content: center;

}
header nav a{
	color: white;
	height: 15px;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 3px;
	border-right: none;
	padding: 10px 20px;
	background: rgb(55,55,55);
}
header nav a:last-child{
	border-right: 1px solid black;
}