@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Sriracha&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  */
/*  */
/*  */
/*  */
/*  */
*{
	max-width: 100%;
}
html{
	font-size: 62.5%;
}
body{
	font-size: 1.6rem;
	font-family: 'Sriracha', cursive;
	background: #121212;
	color: #FBFFFB;
}
.header{
	font-size: 4rem;
	font-family: 'Caveat', cursive;
	color: #FBFFFB;
	width: 20vw;
	text-shadow:1px 0px 1px #FBFFFB;
	transition: all 150ms ease;
	text-decoration: none;
}
.header:hover{	
	cursor: pointer;
	color: #FBFFFB;
	font-size: 4.1rem;
}
h2{
	font-size: 3rem;
}
p{
	line-height: 1.75;
	font-size: 1.8rem;
}
header{
	width: 100vw;
	height: 15vh;
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: center;
	background:rgb(44,44,44) ;
	box-shadow: 0px 1px 5px rgb(110, 109, 109);
}
header nav{
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	max-width: 100%;
}
header nav a{
	color: #FBFFFB;
	height: 15px;
	text-decoration: none;
	border-radius: 2px;
	border-right: none;
	padding: 10px 20px;
	background: rgb(35,35,35);
	text-shadow:1px 1px 2px black;
	box-shadow:0px 0px 3px #FBFFFB;
	transition: all 150ms ease;
}
header nav a:hover{
	box-shadow:0px 0px 10px #bb86fc;
	z-index: 1;
	color:#FBFFFB;
	animation-fill-mode: backwards;
}
.container{
    display: flex;
	flex-direction: column;
}
    main{
      height:100vh;
      width:100vw;
      display:flex;
      justify-content:space-around;
      align-items:center;
      background-color:rgba(213, 187, 230, 0.7);
    }
    section.card{
      padding:10px;
      text-align:center;
      height:auto;
      border-radius:10px;
      width:450px;
      height:400px;
      background-color:rgb(44,44,44);
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      font-family: 'Sriracha', cursive;
    }
    /* section.card a:first-of-type{
        
    } */
    div#links{
      align-items:center;
    }
   
    span{
      font-weight:700;
    }
    p{
      color:#FBFFFB;
    }
    img.heading{
      width:150px;
      height:150px;
      border:1px solid rgba(250,250,250,0.6);
      border-radius:50%;
      object-position: 10% 10%; 
      object-fit:cover;
    }
    .headingTwo{
        width:150px;
        height:150px;
        border:1px solid rgba(250,250,250,0.6);
        border-radius:50%;
        object-position: 50% 50%; 
        object-fit:cover;
    }
    a.city, a.city:visited {
      /* text-decoration:none; */
      font-weight:700;
      cursor:pointer;
      color:#FBFFFB;
      transition:200ms;
    }
    a.city:hover{
        color: #d0aafd;
    }
    a img{
      /* display:inline-block; */
      width: 50px;
	  height: 50px;
      text-decoration:none;
      transition:250ms;
    }
    a img:hover{
		transform: rotateZ(-10deg);
    }
    a.link img{
      width: 32px;
      height: 32px;
    }

	
footer{
	margin-top:0;
	width: 100vw;
	height: 20vh;
	background:rgb(44,44,44) ;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer a{
	color: #FBFFFB;
	height: 2.5rem;
	text-decoration: none;
	border-radius: 5px;
	border-right: none;
	padding: 10px 20px;
	background: rgb(55,55,55);
	text-shadow:1px 1px 2px black;
	box-shadow:0px 0px 2px #FBFFFB;
	font-size: 2.5rem;
	transition: all 150ms ease;
	
}
footer a:hover{
	box-shadow:0px 0px 10px #bb86fc;
	transform: rotateZ(3deg);
}

@keyframes test{
	from{transform: translateX(0px);}
	to{transform: translateY(-5px)}
}

@media screen and (max-width: 500px){
	header{
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: space-evenly;
		background:rgb(44,44,44) ;
		box-shadow: 0px 1px 5px rgb(55,55,55);
	}
	p{
		font-size: 1.6rem;
		margin: 5px 0px;
	}	
	 main{
		height:100vh;
		width:100vw;
		display:flex;
		justify-content:space-around;
		align-items:center;
		background-color:rgba(213, 187, 230, 0.7);
	  }
	  section.card{
		padding:10px;
		text-align:center;
		border-radius:10px;
		width:400px;
		height:400px;
		background-color:rgb(44,44,44);
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
		font-family: 'Sriracha', cursive;
		
	  }
	  img.heading{
		width:100px;
		height:100px;
		border:1px solid rgba(250,250,250,0.6);
		border-radius:50%;
		object-position: 10% 10%; 
		object-fit:cover;
	  }
	  .headingTwo{
		  width:100px;
		  height:100px;
		  border:1px solid rgba(250,250,250,0.6);
		  border-radius:50%;
		  object-position: 50% 50%; 
		  object-fit:cover;
	  }	   
}

@media screen and (max-width: 980px){
	.header{
		width: 50vw;
		text-align: center;
	}
	body nav a, h1{
		font-size: 1.4rem;
	}
	header nav a{
		font-size: 1.6rem;
	}
	main{
		display: flex;
		flex-flow: column;
		justify-content: space-around;
	}
	section.card{
		width: 70vw;
		margin: 15px 0;
	}
	section.card:last-of-type{
		margin-top: 0;
	}
	a img{

		text-decoration:none;
		transition:250ms;
	}
	a img:hover{
		transform: rotateZ(-10deg);
	}
}
@media screen and (min-width: 1900px){
	header a.header{
		font-size: 5rem;
	}
	h2{
		font-size: 4rem;
	}
	p{
		line-height: 1.75;
		font-size: 1.8rem;
	}
	header nav a{
		font-size: 2.5rem;
		color: #FBFFFB;
		height: 2.5rem;
		text-decoration: none;
		border-radius: 3px;;
		border-right: none;
		padding: 10px 20px;
		background: rgb(35,35,35);
		text-shadow:1px 1px 2px black;
		box-shadow: 0px 0px 3px #FBFFFB;
		font-size: 2.5rem;
		transition: all 150ms ease;
	}
	footer a{
		height: 3.5rem;
		padding: 15px 33px;
		font-size: 3rem;
	}
}
