@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Sriracha&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  */
/*  */
/*  */
/*  */
/*  */
*{
	max-width: 100%;
}
html{
	font-size: 62.5%;
}
body{
	font-size: 1.6rem;
	font-family: 'Sriracha', cursive;
	background: #121212;
	color: white;
}
.header{
	font-size: 4rem;
	font-family: 'Caveat', cursive;
	margin-left: 15px;
	color: #bb86fc;
	width: 20vw;
	text-shadow:1px 0px 1px white;
	transition: all 150ms ease;
	text-decoration: none;
}
.header:hover{	
	cursor: pointer;
	color: #bb86fc;
	text-shadow:1px 0px 2px white;
	font-size: 4.1rem;
}
h2{
	font-size: 3rem;
}
p{
	line-height: 1.75;
	font-size: 2rem;
}
.container{
    display: flex;
	flex-direction: column;
}
header{
	width: 100vw;
	height: 15vh;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	background:rgb(44,44,44) ;
	box-shadow: 0px 1px 5px rgb(110, 109, 109);
}
header nav{
	width: 90%;
	display: flex;
	justify-content: flex-start;
	position: relative;
    left: 40px;
	max-width: 100%;
}
header nav a{
	color: #bb86fc;
	height: 15px;
	text-decoration: none;
	border-radius: 2px;
	border-right: none;
	padding: 10px 20px;
	background: rgb(35,35,35);
	text-shadow:1px 1px 2px black;
	box-shadow:0px 0px 3px white;
	transition: all 150ms ease;
}
header nav a:hover{
	box-shadow:0px 0px 10px white;
	z-index: 1;
	color:white;
	/* animation-fill-mode: backwards; */
}
section .about-section{
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 75px;
}
.about-text{
	box-sizing: border-box;
	border-radius: 15px;
	font-size: 2rem;
	padding: 25px;
	width: 40vw;
	height: 40vh;
	/* margin-right: 40px; */
	background:rgb(44,44,44);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: 0px 0px 15px rgb(55,55,55);
}
.about-text a{
	color: #bb86fc;
	width: 80px;
	height: 18px;
	text-decoration: none;
	box-shadow:0px 0px 3px white;
	border-radius: 2px;
	padding: 10px 20px;
	background: rgb(55,55,55);
	text-shadow:1px 1px 2px black;
	transition: all 150ms ease;
}
.about-text a:hover{
	box-shadow:0px 0px 10px white;
}
.about-img{
	width: 450px;
	height: 450px;
	border-radius: 100%;
	/* margin-left: 40px; */
	box-shadow:1px 1px 10px rgb(44,44,44);
	transition: box-shadow 250ms ease;
	background: url(meCropped.png);
	background-size: contain;
}
.about-img:hover{
	width: 450px;
	height: 450px;
	box-shadow:0px 0px 10px white;
}
.projects-cont{
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-flow:row wrap;
	justify-content: space-evenly;
}
.projects-item{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 300px;
	height: 300px;
	margin-bottom: 40px;
	background: url(https://www.picsum.photos/300);
	background-size: cover;
	background-repeat: no-repeat;
	color: #bb86fc;
	margin-top:20px;
	border-radius: 30px;
	box-shadow: 0px 0px 10px rgb(55,55,55);
	transition: box-shadow 300ms ease, background 300ms ease, color 300ms ease, border-radius 300ms ease;
}
.projects-item:hover{
	background: url(https://www.picsum.photos/300);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	border-radius: 20%;
	box-shadow:0px 0px 5px #bb86fc;
}
.projects-text{
	position: relative;
	top: 35px;
	font-size: 2rem;
	
}
.projects-text:hover{
	color:white;
	cursor: pointer;
	animation-name: test;
	animation-duration: 1s;
    animation-fill-mode: forwards;
}
footer{
	margin-top: 100px;
	width: 100vw;
	height: 20vh;
	background:rgb(44,44,44) ;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer a{
	color: #bb86fc;
	height: 2rem;
	text-decoration: none;
	border-radius: 5px;
	border-right: none;
	padding: 10px 20px;
	background: rgb(55,55,55);
	text-shadow:1px 1px 2px black;
	box-shadow:0px 0px 2px white;
	font-size: 2rem;
	transition: all 150ms ease;
	
}
footer a:hover{
	box-shadow:0px 0px 10px white;
	transform: rotateZ(3deg);
}

@keyframes test{
	from{transform: translateX(0px);}
	to{transform: translateY(-5px)}
}

@media screen and (max-width: 860px){

.about-img{
	width: 300px;
	height: 300px;
	margin-bottom: 50px;
}
.about-img:hover{
	width: 300px;
	height: 300px;
	margin-bottom: 50px;
}

.about-section{
	width:100%;
	display: flex;
	flex-flow: row wrap;
}
.about-text{
	width: 100vw;
	height: 55vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	text-align: center
}
header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header{
	width: 50vw;
	text-align: center;
	margin-bottom: 10px;
}
header nav{
	width: 100vw;
	position: relative;
	right:0;
	width: 100%;
	display: flex;
	justify-content: center;
    left: 0px;
	max-width: 100%;
}
header nav a{
	color: #bb86fc;
	height: 15px;
	text-decoration: none;
	border-radius: 2px;
	border-right: none;
	padding: 10px 20px;
	background: rgb(55,55,55);
	text-shadow:1px 1px 2px black;
	box-shadow:0px 0px 3px white;
	transition: all 150ms ease;
}
.projects-item{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 200px;
	height: 200px;
	margin-bottom: 50px;
	background: url(https://www.picsum.photos/300);
	color: #bb86fc;
	margin-top:20px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgb(55,55,55);
	transition: box-shadow 300ms ease, background 300ms ease, color 300ms ease, border-radius 300ms ease;
}
}
@media screen and (min-width: 1510px){
	.projects-cont{
		margin-top: 50px;
		width: 100%;
		display: flex;
		flex-flow:row wrap;
		justify-content: space-evenly;
	}
	.projects-item{
		display: flex;
		justify-content: center;
		align-items: flex-end;
		width: 395px;
		height: 395px;
		margin-bottom: 50px;
		background: url(https://www.picsum.photos/300);
		background-size: cover;
		background-repeat: no-repeat;
		color: #bb86fc;
		margin-top:20px;
		border-radius: 30px;
		box-shadow: 0px 0px 10px rgb(55,55,55);
		transition: box-shadow 300ms ease, background 300ms ease, color 300ms ease, border-radius 300ms ease;
	}
		footer a{
			color: #bb86fc;
			height: 2.5rem;
			text-decoration: none;
			border-radius: 5px;
			border-right: none;
			padding: 10px 20px;
			background: rgb(55,55,55);
			text-shadow:1px 1px 2px black;
			box-shadow:0px 0px 3px white;
			font-size: 2.5rem;
			transition: all 150ms ease;			
		}
		.projects-item:hover{
			background: url(https://www.picsum.photos/300);
			background-size: cover;
			background-repeat: no-repeat;
			color: white;
			border-radius: 20%;
			box-shadow:0px 0px 5px #bb86fc;
		}
	}
